
<%= form_for @vacation, :url =>{:action =>:create, :id=>@guard.id} do |f| %>
  <div>
    <%= f.label :days_taken, "Numero de dias" %>
    <%= f.number_field :days_taken %>
  </div>
  <div>
    <%= f.label :vacacion_doc,"Vacacion:" %>
    <%= f.file_field :vacacion_doc%>

  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>