<h1 align="center" class="mb-0">Editar
            <span class="text-primary">Guardia</span>
          </h1>
<div class="col-md-7 col-center" align="left">

<%= form_for @guard do |f| %>
 <div class="form-group<%= @guard.errors[:firstname].any? ? " error" : "" %>">
   <%= f.label :Primer_nombre, :class => 'control-label' %>
   <div class="controls">
     <%= f.text_field :firstname%>
     <%#Obtener solo el mensaje con la expresion regular /\w([^]*)/%>
     <span class="help-inline">
      <%= @guard.errors[:firstname].any? ? @guard.errors[:firstname].to_s[/\w([^"]*)/] : "" %></span>
   </div>
 </div>

 <div class="form-group<%= @guard.errors[:lastname].any? ? " error" : "" %>">
   <%= f.label :Apellido_Paterno, :class => 'control-label' %>
   <div class="controls">
     <%= f.text_field :lastname%>
     <%#Obtener solo el mensaje con la expresion regular /\w([^]*)/%>
     <span class="help-inline">
      <%= @guard.errors[:lastname].any? ? @guard.errors[:lastname].to_s[/\w([^"]*)/] : "" %></span>
   </div>
 </div>

  <div class="form-group<%= @guard.errors[:surname].any? ? " error" : "" %>">
   <%= f.label :Apellido_materno, :class => 'control-label' %>
   <div class="controls">
     <%= f.text_field :surname%>
     <%#Obtener solo el mensaje con la expresion regular /\w([^]*)/%>
     <span class="help-inline">
      <%= @guard.errors[:surname].any? ? @guard.errors[:surname].to_s[/\w([^"]*)/] : "" %></span>
   </div>
 </div>

  <div class="form-group<%= @guard.errors[:rut].any? ? " error" : "" %>">
   <%= f.label :Rut, :class => 'control-label' %>
   <div class="controls">
     <%= f.text_field :rut%>
     <%#Obtener solo el mensaje con la expresion regular /\w([^]*)/%>
     <span class="help-inline">
      <%= @guard.errors[:rut].any? ? @guard.errors[:rut].to_s[/\w([^"]*)/] : "" %></span>
   </div>
 </div>

  <div class="form-group<%= @guard.errors[:age].any? ? " error" : "" %>">
   <%= f.label :Edad, :class => 'control-label' %>
   <div class="controls">
     <%= f.text_field :age%>
     <%#Obtener solo el mensaje con la expresion regular /\w([^]*)/%>
     <span class="help-inline">
      <%= @guard.errors[:age].any? ? @guard.errors[:age].to_s[/\w([^"]*)/] : "" %></span>
   </div>
 </div>


<div>
    <%= f.label :Sexo %>
    <%= f.radio_button(:sex, "Masculino") %>
    <%= label_tag(:male, "Masculino") %>
    <%= f.radio_button(:sex, "Femenino") %>
    <%= label_tag(:female, "Femenino") %>
</div>

  <div class="form-group<%= @guard.errors[:nationality].any? ? " error" : "" %>">
   <%= f.label :Nacionalidad, :class => 'control-label' %>
   <div class="controls">
     <%= f.text_field :nationality%>
     <%#Obtener solo el mensaje con la expresion regular /\w([^]*)/%>
     <span class="help-inline">
      <%= @guard.errors[:nationality].any? ? @guard.errors[:nationality].to_s[/\w([^"]*)/] : "" %></span>
   </div>
 </div>

  <div class="form-group<%= @guard.errors[:phone_number].any? ? " error" : "" %>">
   <%= f.label :Telefono, :class => 'control-label' %>
   <div class="controls">
     <%= f.text_field :phone_number%>
     <%#Obtener solo el mensaje con la expresion regular /\w([^]*)/%>
     <span class="help-inline">
      <%= @guard.errors[:phone_number].any? ? @guard.errors[:phone_number].to_s[/\w([^"]*)/] : "" %></span>
   </div>
 </div>
<div class="form-group">
<%= f.label :Telefono_Secundario %>
 <div class="controls">
    
    <%= f.text_field :second_phone%>
</div>
</div>

  <div class="form-group<%= @guard.errors[:email].any? ? " error" : "" %>">
   <%= f.label :Email, :class => 'control-label' %>
   <div class="controls">
     <%= f.text_field :email%>
     <%#Obtener solo el mensaje con la expresion regular /\w([^]*)/%>
     <span class="help-inline">
      <%= @guard.errors[:email].any? ? @guard.errors[:email].to_s[/\w([^"]*)/] : "" %></span>
   </div>
 </div>

<div>
    <%= f.label :Nivel_Educacional %>

    <%= f.select(:educational_level) do %>
        <% [['Basica incompleta', "Basica incompleta"], 
            ['Basica completa', "Basica completa"],
            ['Media incompleta', "Media incompleta"],
            ['Media completa', "Media completa"],
            ['Tecnica incompleta', "Tecnica incompleta"],
            ['Tecnica completa', "Tecnica completa"],
            ['Superior incompleta', "Superior incompleta"],
            ['Superior completa', "Superior completa"]].each do |c| -%>
            <%= content_tag(:option, c.first, value: c.last) %>
    <% end %>
    <% end %>
</div>

<div>
    <%= f.label :Ciudad %>
    <%= f.select(:city) do %>
        <% [['Santiago', "Santiago"], 
            ['Melipilla', "Melipilla"]].each do |c| -%>
            <%= content_tag(:option, c.first, value: c.last) %>
    <% end %>
    <% end %>
</div>

<div>
    <%= f.label :Comuna %>
        <%= f.select(:commune) do %>
        <% [['Estaci贸n central', "Estaci贸n central"], 
            ['Maipu', "Maipu"],            
            ['Quilicura', "Quilicura"], 
            ['Vitacura', "Vitacura"]].each do |c| -%>
            <%= content_tag(:option, c.first, value: c.last) %>
    <% end %>
    <% end %>
</div>

  <div class="form-group<%= @guard.errors[:address].any? ? " error" : "" %>">
   <%= f.label :Direcci贸n, :class => 'control-label' %>
   <div class="controls">
     <%= f.text_field :address%>
     <%#Obtener solo el mensaje con la expresion regular /\w([^]*)/%>
     <span class="help-inline">
      <%= @guard.errors[:address].any? ? @guard.errors[:address].to_s[/\w([^"]*)/] : "" %></span>
   </div>
 </div>

<div>
    <p>
        Actualizar foto de perfil
        <p>
                <%= f.file_field :avatar%>
        </p>

    </p>

</div>
<div align="center">
<button  type="submit" class="btn btn-success" %="f.submit"%>Actualizar Informacion</button>
    <!--%=f.submit "Actualizar Informaci贸n"%-->
    <h1></h1>
    </div>
</div>
<%end%>

</div>