<h1>Editar Guardia</h1>
<%= form_for @guard do |f| %>
<div>
    <%= f.label :Primer_Nombre %>
    <%= f.text_field :firstname%>
</div>
<div>
    <%= f.label :Apellido %>
    <%= f.text_field :lastname%>
</div>
<div>
    <%= f.label :Segundo_Apellido %>
    <%= f.text_field :surname%>
</div>
<div>
    <%= f.label :Edad %>
    <%= f.text_field :age%>
</div>
<div>
    <%= f.label :Rut %>
    <%= f.text_field :rut%>
</div>
<div>
    <%= f.label :Sexo %>
    <%= f.text_field :sex%>
</div>
<div>
    <%= f.label :Nacionalidad %>
    <%= f.text_field :nationality%>
</div>
<div>
    <%= f.label :Telefono %>
    <%= f.text_field :phone_number%>
</div>
<div>
    <%= f.label :Telefono_Secundario %>
    <%= f.text_field :second_phone%>
</div>
<div>
    <%= f.label :Email %>
    <%= f.text_field :email%>
</div>
<div>
    <%= f.label :Nivel_Educacional %>
    <%= f.text_field :educational_level%>
</div>
<div>
    <%= f.label :Ciudad %>
    <%= f.text_field :city%>
</div>
<div>
    <%= f.label :Comuna %>
    <%= f.text_field :commune%>
</div>
<div>
    <%= f.label :Dirección %>
    <%= f.text_field :address%>
</div>
<div>
    <p>
        Actualizar foto de perfil
        <p>
                <%= f.file_field :avatar%>
        </p>

    </p>
</div>
    <%=f.submit "Actualizar Información"%>
</div>
<%end%>