<h1 align="center" class="mb-0">Editar
            <span class="text-primary">Guardia</span>
          </h1>
<div class="col-md-7 col-center" align="left">

<%= form_for @guard do |f| %>
 <div class="form-group" align="center">
<!--FORMULARIO DEL TIPO BOOSTRAP QUE INCLUYE VALIDACIONES-->
<div lang="es" class="col-md-12 col-center" align="left">
<form>
  <div class="form-row">
    <div class="col-md-4 mb-3">
   
      <label for="validationServer01" >Nombre</label>
      
      <div class="input-group-prepend">
              <span class="icon-case"><i class="fa fa-user"></i></span>
      
        <%= f.text_field :firstname, type:"text",class:"form-control is-valid", placeholder:"Pedro", :required=> true %>
          </div>

    </div>
    <div class="col-md-4 mb-3">
      <label for="validationServer02">Primer Apellido</label>
      
      <%= f.text_field :lastname, type:"text",class:"form-control is-valid", placeholder:"Hernandez", :required=> true %>
      <div class="invalid-feedback">
        Ingrese un apellido correcto
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationServer02">Segundo Apellido</label>
      
      <%= f.text_field :surname, type:"text",class:"form-control is-valid", placeholder:"Sepulveda", :required=> true %>
      
    </div>
   
  </div>

  
   <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationServer04">RUN</label>
      <div class="input-group-prepend">
      <span class="icon-case"><i class="fa fa-id-card"></i></span>
      
      <!--<input  class="form-control is-valid" placeholder="18615292-1" required>-->
      <%= f.text_field :rut, type:"text",oninput:"checkRut(this)",class:"form-control is-valid", placeholder:"18615292-1", :required=> true %>
     
    </div>
     
    </div>
    
    <div class="col-md-6 mb-3">
      <label id="email" for="validationServer05">Correo Electronico</label>
        <div class="input-group-prepend">
      <span class="icon-case"><i class="fa fa-envelope-o"></i></span>
      <!--<input  type="email" class="form-control is-valid" id="validationServer05" placeholder="correo@ejemplo.cl">-->
      <%= f.text_field :email, type:"email",class:"form-control is-valid", placeholder:"correo@ejemplo.cl", :required=> true %>
      </div>
      <div class="valid-feedback">
        
      </div>
    </div>
    
   
  </div>

<div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationServer01">Edad</label>
      
      <div class="input-group-prepend">
              <span class="icon-case"><i class="fa fa-user"></i></span>
      <!--<input  type="number" class="form-control is-valid" id="validationServer01" placeholder="38" required >-->
      <%= f.text_field :age, type:"number",class:"form-control is-valid", placeholder:"38", :required=> true %>
          </div>

    </div>
    <div class="col-md-4 mb-3" >
    <label  >Sexo</label >
      
<%= f.select(:sex , [['Masculino', "Masculino"], ['Femenino',"Femenino"]], {}, {class: " form-control " }) %>


    </div>


    <div class="col-md-4 mb-3">
      <label for="validationServer02">Nacionalidad</label>
      <!--<input type="text" class="form-control is-valid" id="validationServer02" placeholder="Chileno" required>-->

      <%= f.text_field :nationality, type:"text",class:"form-control is-valid", placeholder:"Chileno", :required=> true %>
    </div>
   
  </div>



  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationServer01">Telefono(9 digitos)</label>
      <div class="input-group-prepend">
      <span class="icon-case"><i class="fa fa-phone"></i></span>
      
      <!--<input  type="tel" pattern="^\d{9}$" class="form-control is-valid" placeholder="976001556" required>-->
      <%= f.text_field :phone_number, type:"text",pattern:"[0-9]{9}",class:"form-control is-valid", placeholder:"976001556", :required=> true %>
     
    </div>
     
    </div>
    
    <div class="col-md-6 mb-3">
      <label id="telsecundario" for="validationServer02">Telefono Secundario</label>
       
      <!--<input  type="tel" pattern="^\d{9}$" class="form-control is-valid" id="validationServer02" placeholder="23189263">-->
      <%= f.text_field :second_phone, type:"text" ,pattern:"[0-9]{9}",class:"form-control is-valid", placeholder:"976001556" %>
      <div class="valid-feedback">
        
      </div>
    </div>
    
   
  </div>

    <div class="form-row">
    <div class="col-md-12 col-center">
      
      <label>Nivel Educacional</label>
      <div class="input-group-prepend">
      <span class="icon-case"><i class="fa fa-graduation-cap"></i></span>
    
     <%= f.select(:educational_level ,
       [['Basica Incompleta', "Basica Incompleta"],
       ['Basica Completa', "Basica Completa"],
        ['Media Incompleta',"Media Incompleta"],
         ['Media Completa',"Media Completa"],
         ['Superior Incompleta',"Superior Incompleta"],
         ['Superior Completa',"Superior Completa"]], {}, {class: " form-control " }) %>
       
    </div>
    </div>
    
   
  </div>
<div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationServer01">Ciudad</label>
      
      <div class="input-group-prepend">
              <span class="icon-case"><i class="fa fa-location-arrow"></i></span>
      <!--<input  type="text" class="form-control is-valid" id="validationServer01" placeholder="Santiago" required >-->
      <%= f.text_field :city, type:"text",class:"form-control is-valid", placeholder:"Santiago", :required=> true %>
          </div>

    </div>
    <div class="col-md-4 mb-3">
      <label for="validationServer02">Comuna</label>
      <!--<input  type="text" class="form-control is-valid" id="validationServer02" placeholder="Puente Alto" required>-->
      <%= f.text_field :commune, type:"text",class:"form-control is-valid", placeholder:"Puente Alto", :required=> true %>
      
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationServer02">Direccion</label>
     
      <%= f.text_field :address, type:"text",class:"form-control is-valid", placeholder:"pasaje barca331", :required=> true %>
      
    </div>
   
  </div>

  <div class="form-row">
    <div class="col-md-8 mb-6">
     <div class="custom-file">
   
      <!--%= f.file_field :avatar,type:"file",class:"custon-file-input",id:"customFileLang",label_class:"custom-file-label" %-->
  <!--input type="file" class="custom-file-input" id="customFileLang" lang="es" >
  <label class="custom-file-label" for="customFileLang">Seleccionar Imagen del guardia</label-->
   <div >
    <%= f.label :avatar,"Seleccionar foto perfil del guardia"  , :class =>'custom-file-label'%>
    <%= f.file_field :avatar %>
  </div>
    
  
 

    </div>
  </div>
</div>
<h1></h1>

<div class="form-row">
  <div class="col-md-8 mb-6">
     <div class="custom-file">
  <%= f.label :ficha_guardia_doc,"Ficha del Guardia",:class =>'custom-file-label' %>
  
  <%= f.file_field :ficha_guardia_doc%> 
</div>
</div>
</div>
<h1></h1>
<div class="form-row">
  <div class="col-md-8 mb-6">
     <div class="custom-file">
     
  <%= f.label :cert_estudio_doc,"Certificado de estudio",:class =>'custom-file-label' %>
  
  <%= f.file_field :cert_estudio_doc%> 
</div>
</div>
</div>
<h1></h1>
<div class="form-row">
  <div class="col-md-8 mb-6">
     <div class="custom-file">
     
  <%= f.label :cert_residencia_doc,"Certificado de Residencia",:class =>'custom-file-label' %>
  
  <%= f.file_field :cert_residencia_doc %> 
</div>
</div>
</div>
<h1></h1>
<div class="form-row">
  <div class="col-md-8 mb-6">
     <div class="custom-file">
     
  <%= f.label :cedula_identidad_doc,"Cedula de Identidad",:class =>'custom-file-label' %>
  
  <%= f.file_field :cedula_identidad_doc%> 
</div>
</div>
</div>

<h1></h1>
<div class="form-row">
  <div class="col-md-8 mb-6">
     <div class="custom-file">
     
  <%= f.label :pacto_horas_doc,"Pacto de Horas",:class =>'custom-file-label' %>
  
  <%= f.file_field :pacto_horas_doc%> 
</div>
</div>
</div>

<h1></h1>
<div class="form-row">
  <div class="col-md-8 mb-6">
     <div class="custom-file">
     
  <%= f.label :cert_antecedentes_doc,"Certificado de Antecedentes",:class =>'custom-file-label' %>
  
  <%= f.file_field :cert_antecedentes_doc%> 
</div>
</div>
</div>
  <div class="form-row">
    <div class="col-md-6 mb-3">    
    </div>   
  </div>

  <!--div align="right">
  
    <button  type="submit" class="btn btn-success" %="f.submit"%>Actualizar informacion del Guardia</button>
  </div-->
  <div align="center">
          <h1></h1>
          <table>
          <thead>
            <tr>
              <th scope="col"><a class="btn btn-primary" href="/guards"><i class="fa fa-arrow-circle-left"></i> Volver </a></th>
              <th scope="col"><button type="submit" class="btn btn-success" %="f.submit"% ><i class="fa fa-plus-square"></i> Actualizar informacion del guardia</button></th>
            </tr>
          </thead>
        </table>
        </div>
</form>


<%end%>
  
</div>

</div>