<h1 align="center" class="mb-0">Lista de
            <span class="text-primary">Guardias</span>
          </h1>

<table class="table table-striped">
  <thead>
  
  <tr>
   
     
      <th scope="col">Nombre</th>
      <th scope="col">Rut</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>

 <tr>
  <%@guards.each do |t|%>
    <thead>
      <th><%=t.firstname%>
        <%=t.lastname%>
      </th>
      <th><%=t.rut%></th>
      <td>
        

        <%=link_to '<span class="fa fa-align-justify"></span>'.html_safe , guard_path(t),class: "btn btn-info" %>

        <%=link_to '<span class="fa fa-pencil"></span>'.html_safe , edit_guard_path(t), class: "btn btn-primary"%>

        <%= link_to '<span class="fa fa-window-close"></span>'.html_safe , t, method: :delete, data: { confirm: "¿Esta seguro que desea eliminar el registro de este guardia?"} , class: "btn btn-danger"%>

      </td>
    </thead>
  
  </tr>
  
    
  <%end%>
</table>
<div class="col-md-7 col-center" align="left">

<%= link_to "Crear Guardia", guards_new_path %>





</div>