<h1 align="center" class="mb-0">Lista de
    <span class="text-primary">Guardias</span>
</h1>



<div>
<%= form_tag guards_path, method: :get do %>
  <%= text_field_tag :rut, params[:rut], placeholder: 'Ingrese Rut de guardia' %>
  <%= submit_tag "Buscar", name: nil %>
<% end %>
</div>

<table class="table table-hover">
  <thead>
  <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Rut</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
 <tbody>
 <tr>
  <%@guards.each do |t|%>
    
      <th><%=t.firstname%>
        <%=t.lastname%>
      </th>
      <th><%=t.rut%></th>
      <td>
        <%=link_to '<span class="fa fa-align-justify" data-original-title="Detalles" data-toggle="tooltip"></span>'.html_safe , guard_path(t),class: "btn btn-info" %>
        <%=link_to '<span class="fa fa-pencil" data-original-title="Editar" data-toggle="tooltip"></span>'.html_safe , edit_guard_path(t), class: "btn btn-success"%>
        <%= link_to '<span class="fa fa-window-close" data-original-title="Eliminar" data-toggle="tooltip"></span>'.html_safe , t, method: :delete, data: { confirm: "¿Esta seguro que desea eliminar el registro de este guardia?"} , class: "btn btn-danger"%>
      </td>
    
  </tr>
  </tbody>
  <%end%>
</table>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>

<!--div class="col-md-7 col-center" align="left">
  <%= link_to "Crear Guardia", guards_new_path %>
</div-->

<div align="center">
  <table>
    <thead>
      <tr>
        <th scope="col"><a class="btn btn-secondary" href="/"><i class="fa fa-home"></i> Volver al Inicio</a></th>
        <th scope="col"><a class="btn btn-primary" href="/guards/new"><i class="fa fa-plus-square"></i> Crear nuevo Guardia</a></th>
      </tr>
    </thead>
  </table>
</div>