
<h1 align="center" class="col-md-10 col-center">Registrar
            <span class="text-primary">Guardia</span>
          </h1>

<div class="col-md-10 col-center" align="left">
  <%=form_for @guard do |t|%>
<div class="form-group" align="center">
<!--FORMULARIO DEL TIPO BOOSTRAP QUE INCLUYE VALIDACIONES-->
<div lang="es" class="col-md-12 col-center" align="left">
<form>
  <div class="form-row">
    <div class="col-md-4 mb-3">
   
      <label for="validationServer01" >Nombre</label>
      
      <div class="input-group-prepend">
              <span class="icon-case"><i class="fa fa-user"></i></span>
      
        <%= t.text_field :firstname, type:"text",class:"form-control is-valid", placeholder:"Pedro", :required=> true %>
          </div>

    </div>
    <div class="col-md-4 mb-3">
      <label for="validationServer02">Primer Apellido</label>
      
      <%= t.text_field :lastname, type:"text",class:"form-control is-valid", placeholder:"Hernandez", :required=> true %>
      <div class="invalid-feedback">
        Ingrese un apellido correcto
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationServer02">Segundo Apellido</label>
      
      <%= t.text_field :surname, type:"text",class:"form-control is-valid", placeholder:"Sepulveda", :required=> true %>
      
    </div>
   
  </div>

  
   <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationServer04">RUN</label>
      <div class="input-group-prepend">
      <span class="icon-case"><i class="fa fa-id-card"></i></span>
      
      <!--<input  class="form-control is-valid" placeholder="18615292-1" required>-->
      <%= t.text_field :rut, type:"text",oninput:"checkRut(this)",class:"form-control is-valid", placeholder:"18615292-1", :required=> true %>
     
    </div>
     
    </div>
    
    <div class="col-md-6 mb-3">
      <label id="email" for="validationServer05">Correo Electronico</label>
        <div class="input-group-prepend">
      <span class="icon-case"><i class="fa fa-envelope-o"></i></span>
      <!--<input  type="email" class="form-control is-valid" id="validationServer05" placeholder="correo@ejemplo.cl">-->
      <%= t.text_field :email, type:"email",class:"form-control is-valid", placeholder:"correo@ejemplo.cl", :required=> false %>
      </div>
      <div class="valid-feedback">
        
      </div>
    </div>
    
   
  </div>

<div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationServer01">Edad</label>
      
      <div class="input-group-prepend">
              <span class="icon-case"><i class="fa fa-user"></i></span>
      <!--<input  type="number" class="form-control is-valid" id="validationServer01" placeholder="38" required >-->
      <%= t.text_field :age, type:"number",class:"form-control is-valid", placeholder:"38", :required=> true %>
          </div>

    </div>
    <div class="col-md-4 mb-3" >
    <label  >Sexo</label >
      
<%= t.select(:sex , [['Masculino', "Masculino"], ['Femenino',"Femenino"]], {}, {class: " form-control " }) %>


    </div>


    <div class="col-md-4 mb-3">
      <label for="validationServer02">Nacionalidad</label>
      <!--<input type="text" class="form-control is-valid" id="validationServer02" placeholder="Chileno" required>-->

      <%= t.text_field :nationality, type:"text",class:"form-control is-valid", placeholder:"Chileno", :required=> true %>
    </div>
   
  </div>



  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationServer01">Telefono(9 digitos)</label>
      <div class="input-group-prepend">
      <span class="icon-case"><i class="fa fa-phone"></i></span>
      
      <!--<input  type="tel" pattern="^\d{9}$" class="form-control is-valid" placeholder="976001556" required>-->
      <%= t.text_field :phone_number, type:"text",pattern:"[0-9]{9}",class:"form-control is-valid", placeholder:"976001556", :required=> true %>
     
    </div>
     
    </div>
    
    <div class="col-md-6 mb-3">
      <label id="telsecundario" for="validationServer02">Telefono Secundario</label>
       
      <!--<input  type="tel" pattern="^\d{9}$" class="form-control is-valid" id="validationServer02" placeholder="223189263">-->
      <%= t.text_field :second_phone, type:"text" ,pattern:"[0-9]{9}",class:"form-control is-valid", placeholder:"223189263" %>
      <div class="valid-feedback">
        
      </div>
    </div>
    
   
  </div>

    <div class="form-row">
    <div class="col-md-12 col-center">
      
      <label>Nivel Educacional</label>
      <div class="input-group-prepend">
      <span class="icon-case"><i class="fa fa-graduation-cap"></i></span>
    
     <%= t.select(:educational_level ,
       [['Basica Incompleta', "Basica Incompleta"],
       ['Basica Completa', "Basica Completa"],
        ['Media Incompleta',"Media Incompleta"],
         ['Media Completa',"Media Completa"],
         ['Superior Incompleta',"Superior Incompleta"],
         ['Superior Completa',"Superior Completa"]], {}, {class: " form-control " }) %>
       
    </div>
    </div>
    
   
  </div>
<div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationServer01">Ciudad</label>
      
      <div class="input-group-prepend">
              <span class="icon-case"><i class="fa fa-location-arrow"></i></span>
      <!--<input  type="text" class="form-control is-valid" id="validationServer01" placeholder="Santiago" required >-->
      <%= t.text_field :city, type:"text",class:"form-control is-valid", placeholder:"Santiago", :required=> true %>
          </div>

    </div>
    <div class="col-md-4 mb-3">
      <label for="validationServer02">Comuna</label>
      <!--<input  type="text" class="form-control is-valid" id="validationServer02" placeholder="Puente Alto" required>-->
      <%= t.text_field :commune, type:"text",class:"form-control is-valid", placeholder:"Puente Alto", :required=> true %>
      
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationServer02">Direccion</label>
     
      <%= t.text_field :address, type:"text",class:"form-control is-valid", placeholder:"pasaje barca331", :required=> true %>
      
    </div>
   
  </div>
<!--Campos tipo de contrato, afiliacion y prevision-->
  <div class="form-row">
    <div class="col-md-4 mb-3">
   
        <label>Tipo de Contrato</label>
          <div class="input-group-prepend">
            
            <%= t.select(:contract_type,
             [['Definido', "Definido"],
              ['Indefinido', "Indefinido"]], {}, {class: " form-control " }) %>
       
        </div>
      </div>
    
    <div class="col-md-4 mb-3">
      <label for="validationServer02"> Prevision Salud</label>
      
      <%= t.text_field :prevision, type:"text",class:"form-control is-valid", placeholder:"Fonasa", :required=> true %>
      <div class="invalid-feedback">
        Ingrese un sistema de prevision correcto
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationServer02">Afiliacion Afp</label>
      
      <%= t.text_field :afiliation, type:"text",class:"form-control is-valid", placeholder:"Afp Modelo", :required=> true %>
      
    </div>
   
  </div>

<h4>SELECCIONAR DOCUMENTOS DEL GUARDIA</h4>

  <div class="form-row">
    <div class="col-md-8 mb-6">
     <div class="custom-file">
      <div >
      <%= t.label :avatar,"Seleccionar foto perfil del guardia:"  %>
      <%= t.file_field :avatar %>
      </div>
    </div>
  </div>
</div>

<h1></h1>

<div class="form-row">
  <div class="col-md-8 mb-6">
     <div class="custom-file">
  <%= t.label :ficha_guardia_doc,"Ficha del Guardia:" %>
  
  <%= t.file_field :ficha_guardia_doc%> 
</div>
</div>
</div>
<h1></h1>

<div class="form-row">
  <div class="col-md-8 mb-6">
     <div class="custom-file">
     
      <%= t.label :cert_estudio_doc,"Certificado de estudio:" %>
      
      <%= t.file_field :cert_estudio_doc%> 
</div>
</div>
</div>
<h1></h1>
<div class="form-row">
  <div class="col-md-8 mb-6">
     <div class="custom-file">
     
      <%= t.label :cert_residencia_doc,"Certificado de Residencia:" %>
      
      <%= t.file_field :cert_residencia_doc%> 
</div>
</div>
</div>
<h1></h1>
<div class="form-row">
  <div class="col-md-8 mb-6">
     <div class="custom-file">
     
      <%= t.label :cedula_identidad_doc,"Cedula de Identidad:" %>
      
      <%= t.file_field :cedula_identidad_doc%> 
</div>
</div>
</div>

<h1></h1>
<div class="form-row">
  <div class="col-md-8 mb-6">
     <div class="custom-file">
     
      <%= t.label :pacto_horas_doc,"Pacto de Horas:" %>
      
      <%= t.file_field :pacto_horas_doc%> 
</div>
</div>
</div>

<h1></h1>
<div class="form-row">
  <div class="col-md-8 mb-6">
     <div class="custom-file">
     
      <%= t.label :cert_antecedentes_doc,"Certificado de Antecedentes:" %>
      
      <%= t.file_field :cert_antecedentes_doc%> 
</div>
</div>
</div>

<h1></h1>
<div class="form-row">
  <div class="col-md-8 mb-6">
     <div class="custom-file">
     
      <%= t.label :derecho_saber_doc,"Derecho a saber:" %>
      
      <%= t.file_field :derecho_saber_doc%> 
</div>
</div>
</div>

<h1></h1>
<div class="form-row">
  <div class="col-md-8 mb-6">
     <div class="custom-file">
     
      <%= t.label :epp_entrega_doc,"EPP entrega" %>
      
      <%= t.file_field :epp_entrega_doc%> 
</div>
</div>
</div>

<h1></h1>
<div class="form-row">
  <div class="col-md-8 mb-6">
     <div class="custom-file">
     
      <%= t.label :epp_recibo_doc,"EPP rebibo" %>
      
      <%= t.file_field :epp_recibo_doc%> 
</div>
</div>
</div>

<h1></h1>
<div class="form-row">
  <div class="col-md-8 mb-6">
     <div class="custom-file">
     
      <%= t.label :auth_turno_doc,"Autorizacion turno 4x4" %>
      
      <%= t.file_field :auth_turno_doc%> 
</div>
</div>
</div>
<h1></h1>
<div class="form-row">
  <div class="col-md-8 mb-6">
     <div class="custom-file">
     
      <%= t.label :reg_interno_doc,"Reglamento interno" %>
      
      <%= t.file_field :reg_interno_doc%> 
</div>
</div>
</div>

  <div class="form-row">
    <div class="col-md-6 mb-3">    
    </div>   
  </div>

  
  <div align="center">
        <h1> </h1>
      <table>
        <thead>
          <tr>
            <th scope="col"><a class="btn btn-secondary" href="/"><i class="fa fa-home"></i> Volver al Inicio</a></th>
            <th scope="col"><button  type="submit" class="btn btn-primary" %="f.submit"%><i class="fa fa-plus-square"></i> Ingresar nuevo Guardia</button></th>
          </tr>
        </thead>
      </table>
    </div>
</form>


<%end%>
  
</div>

<script>

//FUNCION JAVASCRIPT PARA VALIDAR EL RUN 
function checkRut(rut) {
    // Despejar Puntos
    var valor = rut.value.replace('.','');
    // Despejar Guión
    valor = valor.replace('-','');
    
    // Aislar Cuerpo y Dígito Verificador
    cuerpo = valor.slice(0,-1);
    dv = valor.slice(-1).toUpperCase();
    
    // Formatear RUN
    rut.value = cuerpo + '-'+ dv
    
    // Si no cumple con el mínimo ej. (n.nnn.nnn)
    if(cuerpo.length < 7) { rut.setCustomValidity("RUT Incompleto"); return false;}
    
    // Calcular Dígito Verificador
    suma = 0;
    multiplo = 2;
    
    // Para cada dígito del Cuerpo
    for(i=1;i<=cuerpo.length;i++) {
    
        // Obtener su Producto con el Múltiplo Correspondiente
        index = multiplo * valor.charAt(cuerpo.length - i);
        
        // Sumar al Contador General
        suma = suma + index;
        
        // Consolidar Múltiplo dentro del rango [2,7]
        if(multiplo < 7) { multiplo = multiplo + 1; } else { multiplo = 2; }
  
    }
    
    // Calcular Dígito Verificador en base al Módulo 11
    dvEsperado = 11 - (suma % 11);
    
    // Casos Especiales (0 y K)
    dv = (dv == 'K')?10:dv;
    dv = (dv == 0)?11:dv;
    
    // Validar que el Cuerpo coincide con su Dígito Verificador
    if(dvEsperado != dv) { rut.setCustomValidity("RUT Inválido"); return false; }
    
    // Si todo sale bien, eliminar errores (decretar que es válido)
    rut.setCustomValidity('');
}

</script>