<h1 align="center" class="mb-0">Registrar
            <span class="text-primary">Guardia</span>
          </h1>

  <div class="col-md-7 col-center" align="left">
<%= form_for @guard do |t| %>


 <div class="form-group<%= @guard.errors[:firstname].any? ? " error" : "" %>">
   <%= t.label :Primer_nombre, :class => 'control-label' %>
   <div class="controls">
     <%= t.text_field :firstname%>
     <%#Obtener solo el mensaje con la expresion regular /\w([^]*)/%>
     <span class="help-inline">
      <%= @guard.errors[:firstname].any? ? @guard.errors[:firstname].to_s[/\w([^"]*)/] : "" %></span>
   </div>
 </div>


 <div class="form-group<%= @guard.errors[:lastname].any? ? " error" : "" %>" >
   <%= t.label :Apellido_Paterno, :class => 'control-label' %>
   <div class="controls">
     <%= t.text_field :lastname%>
     <%#Obtener solo el mensaje con la expresion regular /\w([^]*)/%>
     <span class="help-inline">
      <%= @guard.errors[:lastname].any? ? @guard.errors[:lastname].to_s[/\w([^"]*)/] : "" %></span>
   </div>
 </div>

  <div class="form-group<%= @guard.errors[:surname].any? ? " error" : "" %>">
   <%= t.label :Apellido_materno, :class => 'control-label' %>
   <div class="controls">
     <%= t.text_field :surname%>
     <%#Obtener solo el mensaje con la expresion regular /\w([^]*)/%>
     <span class="help-inline">
      <%= @guard.errors[:surname].any? ? @guard.errors[:surname].to_s[/\w([^"]*)/] : "" %></span>
   </div>
 </div>

  <div class="form-group<%= @guard.errors[:rut].any? ? " error" : "" %>">
   <%= t.label :Rut, :class => 'control-label' %>
   <div class="controls">
     <%= t.text_field :rut%>
      
     <%#Obtener solo el mensaje con la expresion regular /\w([^]*)/%>
     <span class="help-inline">
      <%= @guard.errors[:rut].any? ? @guard.errors[:rut].to_s[/\w([^"]*)/] : "" %></span>
   </div>
   <h9>(Ingrese Rut con punto y guion)</h9>
 </div>

  <div class="form-group<%= @guard.errors[:age].any? ? " error" : "" %>">
   <%= t.label :Edad, :class => 'control-label' %>
   <div class="controls">
     <%= t.text_field :age%>
     <%#Obtener solo el mensaje con la expresion regular /\w([^]*)/%>
     <span class="help-inline">
      <%= @guard.errors[:age].any? ? @guard.errors[:age].to_s[/\w([^"]*)/] : "" %></span>
   </div>
 </div>


<div>
    <%= t.label :Sexo %>
    <%= t.radio_button(:sex, "Masculino") %>
    <%= label_tag(:male, "Masculino") %>
    <%= t.radio_button(:sex, "Femenino") %>
    <%= label_tag(:female, "Femenino") %>
</div>

  <div class="form-group<%= @guard.errors[:nationality].any? ? " error" : "" %>">
   <%= t.label :Nacionalidad, :class => 'control-label' %>
   <div class="controls">
     <%= t.text_field :nationality%>
     <%#Obtener solo el mensaje con la expresion regular /\w([^]*)/%>
     <span class="help-inline">
      <%= @guard.errors[:nationality].any? ? @guard.errors[:nationality].to_s[/\w([^"]*)/] : "" %></span>
   </div>
 </div>

  <div class="form-group<%= @guard.errors[:phone_number].any? ? " error" : "" %>">
   <%= t.label :Telefono, :class => 'control-label' %>
   <div class="controls">
     <%= t.text_field :phone_number%>
     <%#Obtener solo el mensaje con la expresion regular /\w([^]*)/%>
     <span class="help-inline">
      <%= @guard.errors[:phone_number].any? ? @guard.errors[:phone_number].to_s[/\w([^"]*)/] : "" %></span>
   </div>
 </div>

 <div>
    <%= t.label :Telefono_Secundario %>
    <div>
        <%= t.text_field :second_phone%>
    </div>
    
</div>

  <div class="form-group<%= @guard.errors[:email].any? ? " error" : "" %>">
   <%= t.label :Email, :class => 'control-label' %>
   <div class="controls">
     <%= t.text_field :email%>
     <%#Obtener solo el mensaje con la expresion regular /\w([^]*)/%>
     <span class="help-inline">
      <%= @guard.errors[:email].any? ? @guard.errors[:email].to_s[/\w([^"]*)/] : "" %></span>
   </div>
 </div>

<div>
    <%= t.label :Nivel_Educacional %>

    <%= t.select(:educational_level) do %>
        <% [['Basica incompleta', "Basica incompleta"], 
            ['Basica completa', "Basica completa"],
            ['Media incompleta', "Media incompleta"],
            ['Media completa', "Media completa"],
            ['Tecnica incompleta', "Tecnica incompleta"],
            ['Tecnica completa', "Tecnica completa"],
            ['Superior incompleta', "Superior incompleta"],
            ['Superior completa', "Superior completa"]].each do |c| -%>
            <%= content_tag(:option, c.first, value: c.last) %>
    <% end %>
    <% end %>
</div>

<div>
    <%= t.label :Ciudad %>
    <%= t.select(:city) do %>
        <% [['Santiago', "Santiago"], 
            ['Melipilla', "Melipilla"]].each do |c| -%>
            <%= content_tag(:option, c.first, value: c.last) %>
    <% end %>
    <% end %>
</div>

<div>
    <%= t.label :Comuna %>
        <%= t.select(:commune) do %>
        <% [['Estación central', "Estación central"], 
            ['Maipu', "Maipu"],            
            ['Quilicura', "Quilicura"], 
            ['Vitacura', "Vitacura"]].each do |c| -%>
            <%= content_tag(:option, c.first, value: c.last) %>
    <% end %>
    <% end %>
</div>

  <div class="form-group<%= @guard.errors[:address].any? ? " error" : "" %>">
   <%= t.label :Dirección, :class => 'control-label' %>
   <div class="controls">
     <%= t.text_field :address%>
     <%#Obtener solo el mensaje con la expresion regular /\w([^]*)/%>
     <span class="help-inline">
      <%= @guard.errors[:address].any? ? @guard.errors[:address].to_s[/\w([^"]*)/] : "" %></span>
   </div>
 </div>

<div>
    <p>
        Subir foto de perfil
        <p>
                <%= t.file_field :avatar%>
        </p>

    </p>
</div>
<div class="form-group" align="center">
  <div class="form-group" align="center">
    <!--%=t.submit "Registrar Guardia"%-->

    <button type="submit" class="btn btn-primary" %="t.submit"%>Ingresar Guardia</button>

    <h1></h1>
    <h1></h1>
</div>
<%end%>

</div>