<h1>Registro de Guardia</h1>
<%= form_for @guard do |t| %>
<div>
    <%= t.label :Primer_Nombre %>
    <%= t.text_field :firstname%>
</div>

<div>
    <%= t.label :Apellido %>
    <%= t.text_field :lastname%>
</div>
<div>
    <%= t.label :Segundo_Apellido %>
    <%= t.text_field :surname%>
</div>
<div>
    <%= t.label :Rut %>
    <%= t.text_field :rut%>    
</div>
<div>
    <%= t.label :Edad %>
    <%= t.text_field :age%>
</div>
<div>
    <%= t.label :Sexo %>
    <%= t.text_field :sex%>
</div>
<div>
    <%= t.label :Nacionalidad %>
    <%= t.text_field :nationality%>
</div>
<div>
    <%= t.label :Telefono %>
    <%= t.text_field :phone_number%>
</div>
<div>
    <%= t.label :Telefono_Secundario %>
    <%= t.text_field :second_phone%>
</div>
<div>
    <%= t.label :Email %>
    <%= t.text_field :email%>
</div>
<div>
    <%= t.label :Nivel_Educacional %>


    <select data-placeholder="Nivel Educacional", class="chosen-select" >
                <option value=""></option>
                <option value="Basica incompleta">Básica incompleta</option>
                <option value="Basica completa">Básica completa</option>
                <option value="Media imcompleta">Media incompleta</option>
                <option value="Media completa">Media completa</option>
                <option value="Tecnica incompleta">Técnica incompleta </option>
                <option value="Tecnica completa">Técnica completa</option>
                <option value="Superior incompleta">Superior incompleta</option>
                <option value="Superior completa">Superior completa</option>
    </select>
</div>
<div>
    <%= t.label :Ciudad %>
    <%= t.text_field :city%>
</div>
<div>
    <%= t.label :Comuna %>
    <%= t.text_field :commune%>
</div>
<div>
    <%= t.label :Dirección %>
    <%= t.text_field :address%>
</div>
<div>
    <p>
        Subir foto de perfil
        <p>
                <%= t.file_field :avatar%>
        </p>

    </p>
</div>
<div>
    <%=t.submit "Registrar Guardia"%>
</div>
<%end%>