<section class="resume-section p-3 p-lg-5 d-flex d-column">
<div class="my-auto">

<div class="subheading mb-5" >

<a>Detalles del guardia <%=@guard.firstname%> </a>
<p align="center"> <%= image_tag @guard.avatar.url(:thumb) %></p>

<div class="container">
	<table class="table table-striped table-hover small">
		<tbody>
			<tr>
				<td>
					<small>Nombre</small>
				</td>
				<td>
					<small><%=@guard.firstname%> <%=@guard.lastname%> <%=@guard.surname%></small>
				</td>
			</tr>
			<tr>
				<td>
					<small>Rut</small>
				</td>
				<td>
					<small><%=@guard.rut%></small>
				</td>
			</tr>
			<tr>
				<td>
					<small>Edad</small>
				</td>
				<td>
					<small><%=@guard.age%></small>
				</td>
			</tr>
			<tr>
				<td>
					<small>Sexo</small>
				</td>
				<td>
					<small><%=@guard.sex%></small>
				</td>
			</tr>
			<tr>
				<td>
					<small>Nivel de estudios</small>
				</td>
				<td>
					<small><%=@guard.educational_level%></small>
				</td>
			</tr>
			<tr>
				<td>
					<small>Telefono principal y secundario</small>
				</td>
				<td>
					<small><%=@guard.phone_number%> / <%=@guard.phone_number%> </small>
				</td>

			</tr>
			<tr>
				<td>
					<small>Email</small>
				</td>
				<td>
					<small><%=@guard.email%></small>
				</td>
			</tr>
			<tr>
				<td>
					<small>Nacionalidad</small>
				</td>
				<td>
					<small><%=@guard.nationality%></small>
				</td>
			</tr>
			<tr>
				<td>
					<small>Domicilio</small>
				</td>
				<td>
					<small><%=@guard.address%> <%=@guard.commune%> <%=@guard.city%></small>
				</td>
			</tr>

		</tbody>
	</table>
</div>




<p align="center"> <%= image_tag @guard.ficha_guardia_doc.url(:thumb) %></p>
<p align="center"> <%= image_tag @guard.cert_estudio_doc.url(:thumb) %></p>
<p align="center"> <%= image_tag @guard.cert_residencia_doc.url(:thumb) %></p>
<p align="center"> <%= image_tag @guard.cedula_identidad_doc.url(:thumb) %></p>
<p align="center"> <%= image_tag @guard.pacto_horas_doc.url(:thumb) %></p>
<p align="center"> <%= image_tag @guard.cert_antecedentes_doc.url(:thumb) %></p>
<p align="center"> <%= image_tag @guard.credencial_doc.url(:thumb) %></p>

<td><%=link_to "Volver", guards_path()%></td>
</div>

</div>

</section>