<h1>Detalles del guardia <%=@guard.name%> </h1>
<p>Nombre: <%=@guard.name%></p>
<p>Rut: <%=@guard.rut%></p>
<p>Telefono: <%=@guard.phone_number%></p>
<p>Email: <%=@guard.email%></p>
<p>Nacinalidad: <%=@guard.nationality%></p>
<p>Fecha de Nacimiento:<%=@guard.birthdate%></p>
