<section class="resume-section p-3 p-lg-5 d-flex d-column">
<div class="my-auto">

<div class="subheading mb-5" >

<a>Detalles del guardia <%=@guard.firstname%> </a>
<p align="center"> <img class="img-fluid rounded-circle" src=<%=@guard.avatar.url(:thumb)%> ></p>

<div class="container">
	<table class="table table-striped table-hover small">
		<tbody>
			<tr>
				<td>
					<small>Nombre</small>
				</td>
				<td>
					<small><%=@guard.firstname%> <%=@guard.lastname%> <%=@guard.surname%></small>
				</td>
			</tr>
			<tr>
				<td>
					<small>Rut</small>
				</td>
				<td>
					<small><%=@guard.rut%></small>
				</td>
			</tr>
			<tr>
				<td>
					<small>Estado</small>
				</td>
				<td>
				
						<% if @guard.active == false %>
							<small>Desvinculado</small>
       	 		<% else %>
							<small>Activo</small>
        		<% end %>
				</td>
			</tr>
			<tr>
				<td>
					<small>Edad</small>
				</td>
				<td>
					<small><%=@guard.age%></small>
				</td>
			</tr>
			<tr>
				<td>
					<small>Sexo</small>
				</td>
				<td>
					<small><%=@guard.sex%></small>
				</td>
			</tr>
			<tr>
				<td>
					<small>Nivel de estudios</small>
				</td>
				<td>
					<small><%=@guard.educational_level%></small>
				</td>
			</tr>
			<tr>
				<td>
					<small>Telefono principal y secundario</small>
				</td>
				<td>
					<small><%=@guard.phone_number%> / <%=@guard.second_phone%> </small>
				</td>

			</tr>
			<tr>
				<td>
					<small>Email</small>
				</td>
				<td>
					<small><%=@guard.email%></small>
				</td>
			</tr>
			<tr>
				<td>
					<small>Nacionalidad</small>
				</td>
				<td>
					<small><%=@guard.nationality%></small>
				</td>
			</tr>
			<tr>
				<td>
					<small>Domicilio</small>
				</td>
				<td>
					<small><%=@guard.address%> <%=@guard.commune%> <%=@guard.city%></small>
				</td>
			</tr>
			<tr>
				<td>
					<small>Tipo de Contrato</small>
				</td>
				<td>
					<small><%=@guard.contract_type%></small>
				</td>
			</tr>
			<tr>
				<td>
					<small>Prevision de Salud</small>
				</td>
				<td>
					<small><%=@guard.prevision%></small>
				</td>
			</tr>
			<tr>
				<td>
					<small>Afiliacion AFP</small>
				</td>
				<td>
					<small><%=@guard.afiliation%></small>
				</td>
			</tr>
		</tbody>
	</table>
</div>


<div class="accordion" id="accord">
	<p>
	  <a class="btn btn-primary" data-toggle="collapse" href="#ficha" role="button" aria-expanded="false" aria-controls="ficha">Ficha</a>
	  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#cedula" aria-expanded="false" aria-controls="cedula">Cédula</button>
	  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#pacto" aria-expanded="false" aria-controls="pacto">Pacto de horas</button>
	  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#credencial" aria-expanded="false" aria-controls="credencial">Credencial</button>
		<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#derecho" aria-expanded="false" aria-controls="derecho">Derecho Saber</button>
	  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".cert" aria-expanded="false" aria-controls="estudios residencia antecedentes">Certificados</button>
		<!--los h1 es solo para generar espacios-->
		<h1></h1>
		<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#eppEntrega" aria-expanded="false" aria-controls="eppEntrega">EPP Entrega</button>
		<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#eppRecibo" aria-expanded="false" aria-controls="eppRecibo">EPP Recibo</button>
		<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#autorizacion" aria-expanded="false" aria-controls="autorizacion">Autorizacion 4x4</button>
		<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#reglamento" aria-expanded="false" aria-controls="reglamento">Reglamento Interno</button>
		<h1></h1>
		<button class="btn btn-info" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="ficha cedula pacto credencial estudios residencia antecedentes">Mostrar todo</button>
	</p>


    <div class="collapse multi-collapse" id="ficha" data-parent="#accord">
      <div class="card card-body">
        <p align="center"> <%= image_tag @guard.ficha_guardia_doc.url(:thumb) %></p>
      </div>
    </div>
    <div class="collapse multi-collapse cert" id="estudios" data-parent="#accord">
      <div class="card card-body">
        <p align="center"> <%= image_tag @guard.cert_estudio_doc.url(:thumb) %></p>
      </div>
    </div>
    <div class="collapse multi-collapse cert" id="residencia" data-parent="#accord">
      <div class="card card-body">
		<p align="center"> <%= image_tag @guard.cert_residencia_doc.url(:thumb) %></p>
      </div>
    </div>
    <div class="collapse multi-collapse" id="cedula" data-parent="#accord">
      <div class="card card-body">
        <p align="center"> <%= image_tag @guard.cedula_identidad_doc.url(:thumb) %></p>
      </div>
    </div>
    <div class="collapse multi-collapse" id="pacto" data-parent="#accord">
      <div class="card card-body">
        <p align="center"> <%= image_tag @guard.pacto_horas_doc.url(:thumb) %></p>
      </div>
    </div>
    <div class="collapse multi-collapse cert" id="antecedentes" data-parent="#accord">
      <div class="card card-body">
        <p align="center"> <%= image_tag @guard.cert_antecedentes_doc.url(:thumb) %></p>
      </div>
    </div>
    <div class="collapse multi-collapse" id="credencial" data-parent="#accord">
      <div class="card card-body">
        <p align="center"> <%= image_tag @guard.credencial_doc.url(:thumb) %></p>
      </div>
    </div>
		<div class="collapse multi-collapse" id="derecho" data-parent="#accord">
      <div class="card card-body">
        <p align="center"> <%= image_tag @guard.derecho_saber_doc.url(:thumb) %></p>
      </div>
    </div>
		<div class="collapse multi-collapse" id="eppEntrega" data-parent="#accord">
      <div class="card card-body">
        <p align="center"> <%= image_tag @guard.epp_entrega_doc.url(:thumb) %></p>
      </div>
    </div>
		<div class="collapse multi-collapse" id="eppRecibo" data-parent="#accord">
      <div class="card card-body">
        <p align="center"> <%= image_tag @guard.epp_recibo_doc.url(:thumb) %></p>
      </div>
    </div>
		<div class="collapse multi-collapse" id="autorizacion" data-parent="#accord">
      <div class="card card-body">
        <p align="center"> <%= image_tag @guard.auth_turno_doc.url(:thumb) %></p>
      </div>
    </div>
		<div class="collapse multi-collapse" id="reglamento" data-parent="#accord">
      <div class="card card-body">
        <p align="center"> <%= image_tag @guard.reg_interno_doc.url(:thumb) %></p>
      </div>
    </div>
</div>  



<!--td><%=link_to "Volver", guards_path()%></td-->
<div align="center">
	<table>
	  	<thead>
	    	<tr>
		      	<th scope="col"><a class="btn btn-secondary" href="/guards"><i class="fa fa-arrow-circle-left"></i> Volver </a>
		      	</th>
		      	<th>
					<%=link_to '<span class="fa fa-pencil" data-original-title="Editar" data-toggle="tooltip">Editar Guardia</span>'.html_safe , edit_guard_path(@guard), class: "btn btn-success"%>
				</th>
					<th scope="col"><a class="btn btn-primary" href="/guards/new"><i class="fa fa-plus-square"></i> Crear nuevo Guardia</a></th>

					<%= link_to '<span class="fa fa-pencil" data-original-title="Editar" data-toggle="tooltip">Agregar Vacaciones</span>'.html_safe, :controller => :vacations, :action => :new, :id => @guard.id%>
					<%= link_to '<span class="fa fa-pencil" data-original-title="Editar" data-toggle="tooltip">Ver vacaciones</span>'.html_safe, :controller => :vacations, :action => :index, :id => @guard.id%>

					<%= link_to '<span class="fa fa-pencil" data-original-title="Editar" data-toggle="tooltip">Agregar Contrato</span>'.html_safe, :controller => :contract_guards, :action => :new, :id => @guard.id%>
					<%= link_to '<span class="fa fa-pencil" data-original-title="Editar" data-toggle="tooltip">Ver Contratos</span>'.html_safe, :controller => :contract_guards, :action => :show, :id => @guard.id%>

					<%= link_to '<span class="fa fa-pencil" data-original-title="Editar" data-toggle="tooltip">Agregar Doc OS10</span>'.html_safe, :controller => :osdocumentations, :action => :new, :id => @guard.id%>
					<%= link_to '<span class="fa fa-pencil" data-original-title="Editar" data-toggle="tooltip">Ver Docs OS10</span>'.html_safe, :controller => :osdocumentations, :action => :show, :id => @guard.id%>

					<%= link_to '<span class="fa fa-pencil" data-original-title="Editar" data-toggle="tooltip">Agregar Finiquito</span>'.html_safe, :controller => :settlements, :action => :new, :id => @guard.id%>
					<%= link_to '<span class="fa fa-pencil" data-original-title="Editar" data-toggle="tooltip">Ver Finiquitos</span>'.html_safe, :controller => :settlements, :action => :edit, :id => @guard.id%>

					<%= link_to '<span class="fa fa-pencil" data-original-title="Editar" data-toggle="tooltip">Agregar Liquidaciones</span>'.html_safe, :controller => :sallary_settlements, :action => :new, :id => @guard.id%>
					<%= link_to '<span class="fa fa-pencil" data-original-title="Editar" data-toggle="tooltip">Ver Liquidaciones</span>'.html_safe, :controller => :sallary_settlements, :action => :index, :id => @guard.id%>

	    	</tr>
	  	</thead>
	</table>
</div>


</div>

</div>


</section>