<h1>Detalles del guardia <%=@guard.firstname%> </h1>
<%= image_tag @guard.avatar.url(:thumb) %>
<p>Nombre: <%=@guard.firstname%></p>
<p>Primer Apellido: <%=@guard.lastname%></p>
<p>Segundo Apellido: <%=@guard.surname%></p>
<p>Rut: <%=@guard.rut%></p>
<p>Edad: <%=@guard.age%></p>
<p>Sexo: <%=@guard.sex%></p>
<p>Nivel de estudios : <%=@guard.educational_level%></p>
<p>Telefono: <%=@guard.phone_number%></p>
<p>Telefono Secundario: <%=@guard.second_phone%></p>
<p>Email: <%=@guard.email%></p>
<p>Nacionalidad: <%=@guard.nationality%></p>
<p>Ciudad: <%=@guard.city%></p>
<p>Comuna: <%=@guard.commune%></p>
<p>Dirección: <%=@guard.address%></p>
 <td><%=link_to "Volver", guards_path()%></td>



