
<h1 align="center" class="col-md-10 col-center">Agregar
    <span class="text-primary">Nuevo Contrato</span>
</h1>

<div class="col-md-10 col-center" align="left">
  <%= form_for @sallary_settlement, :url =>{:action =>:create, :id=>@guard.id} do |salla| %>
  <div class="form-group" align="center">
    <!--FORMULARIO DEL TIPO BOOSTRAP QUE INCLUYE VALIDACIONES-->
    <div lang="es" class="col-md-12 col-center" align="left">
      <form>
 
        <div class="form-row">
          <div class="col-md-10 col-center">
            <label for="validationServer01" >Nombre del Contrato(Max 200 caracteres)</label>
            <div class="input-group-prepend">
              <span class="icon-case"><i class="fa fa-user"></i></span>
              <%= salla.text_field :name, type:"text",class:"form-control is-valid", placeholder:"Liq.Mayo 2017 Pedro Gonzalez", :required=> true %>
            </div>
          </div>
          
          
          
          <div class="col-md-10 col-center">
            <label for="validationServer01" >Fecha</label>
            <div class="input-group-prepend">
              <span class="icon-case"><i class="fa fa-calendar"></i></span>
              <%= salla.date_field :date, type:"date",class:"form-control is-valid", placeholder:"07/07/2018", :required=> true %>
            </div>
          </div>

          <div class="col-md-10 col-center">
            <label for="validationServer01" >Costo Liquidacion</label>
            <div class="input-group-prepend">
              
              <%= salla.text_field :cost, type:"number",class:"form-control is-valid", placeholder:"300000", :required=> true %>
            </div>
          </div>

          
        </div>


      <h1></h1>
      <div class="form-row">
        <div class="col-md-8 mb-6">
          <div class="custom-file">
          
            <%= salla.label :liquidacion_doc,"Contrato Instalacion(Formato imagen png,jpeg):" %>
            <%= salla.file_field :liquidacion_doc%> 
      </div>
      </div>
      </div>



        
    <div align="center">
        
      <table>
        <thead>
          <tr>
            <th scope="col"><a class="btn btn-secondary" href="/guards"><i class="fa fa-arrow-circle-left"></i> Volver al listado de Guardias</a></th>
            <th scope="col"><button  type="submit" class="btn btn-primary" %="l.submit"%><i class="fa fa-plus-square"></i> Agregar nueva Liquidacion</button></th>
          </tr>
        </thead>
      </table>
    </div>
      </form>
    </div>
  </div>
  <%end%>
</div>