<%= form_for @bill, :url =>{:action =>:create, :id=>@contract_installation.id} do |f| %>
  <div>
    <%= f.label :description, "Descripcion" %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :ingress, "Ingreso" %>
    <%= f.number_field :ingress %>
  </div>
  <div>
    <%= f.label :factura_doc,"Factura:" %>
    <%= f.file_field :factura_doc%>

  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>