


<h1 align="center" class="col-md-10 col-center">Agregar
    <span class="text-primary">Contrato o Anexo</span>
</h1>

<div class="col-md-10 col-center" align="left">
  <%= form_for @contract_guard, :url =>{:action =>:create, :id=>@guard.id} do |salla| %>
  <div class="form-group" align="center">
    <!--FORMULARIO DEL TIPO BOOSTRAP QUE INCLUYE VALIDACIONES-->
    <div lang="es" class="col-md-12 col-center" align="left">
      <form>
 
        <div class="form-row">
          <div class="col-md-10 col-center">
            <label for="validationServer01" >Nombre del Contrato(Max 200 caracteres)</label>
            <div class="input-group-prepend">
              <span class="icon-case"><i class="fa fa-user"></i></span>
              <%= salla.text_field :name, type:"text",class:"form-control is-valid", placeholder:"Anexo 1 2017/03 Juan Perez", :required=> true %>
            </div>
          </div>
          
          
          
          <div class="col-md-10 col-center">
            <label for="validationServer01" >Fecha Inicio</label>
            <div class="input-group-prepend">
              <span class="icon-case"><i class="fa fa-calendar"></i></span>
              <%= salla.date_field :start_date, type:"date",class:"form-control is-valid", placeholder:"07/07/2018", :required=> false %>
            </div>
          </div>

          <div class="col-md-10 col-center">
            <label for="validationServer01" >Fecha Termino</label>
            <div class="input-group-prepend">
              <span class="icon-case"><i class="fa fa-calendar"></i></span>
              <%= salla.date_field :finish_date, type:"date",class:"form-control is-valid", placeholder:"07/07/2018", :required=> false %>
            </div>
          </div>

    

          
        </div>


      <h1></h1>
      

      <div class="form-row">
        <div class="col-md-8 mb-6">
          <div class="custom-file">
          
            <%= salla.label :contrato_doc,"Imagen del Contrato o Anexo(Formato imagen png,jpeg):" %>
            <%= salla.file_field :contrato_doc%> 
      </div>
      </div>
      </div>



    <h1></h1>
      <h1>&nbsp</h1>
    <div align="center">
        
      <table>
        <thead>
          <tr>
            <th scope="col"><a class="btn btn-secondary" href="/guards"><i class="fa fa-arrow-circle-left"></i> Volver al listado de Guardias</a></th>
            <th scope="col"><button  type="submit" class="btn btn-primary" %="l.submit"%><i class="fa fa-plus-square"></i> Agregar Nuevo Contrato</button></th>
          </tr>
        </thead>
      </table>
    </div>
      </form>
    </div>
  </div>
  <%end%>
</div>