
<%= form_for @contract_guard, :url =>{:action =>:create, :id=>@guard.id} do |f| %>
  <div>
    <%= f.label :start_date, "Fecha de Inicio" %>
    <%= f.date_field :start_date %>
  </div>
  <div>
    <%= f.label :finish_date, "Fecha de Termino" %>
    <%= f.date_field :finish_date %>
  </div>
  <div>
    <%= f.label :contrato_doc,"Contrato:" %>
    <%= f.file_field :contrato_doc%>

  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>