<h1 align="center" class="mb-0">Detalle del
    <span class="text-primary">Contrato o Anexo</span>
</h1>
<div class="container">
	<table class="table table-striped table-hover medium">
		<tbody>
		<tr>
				<td>
					<medium><strong>Nombre</strong></medium>
				</td>
				<td>
					<medium><%=@contract_guard.name%></medium>
				</td>
			</tr>
			<tr>
			<tr>
				<td>
					<medium><strong>Fecha de inicio</strong></medium>
				</td>
				<td>
					<medium><%=@contract_guard.start_date%></medium>
				</td>
			</tr>
			<tr>
				<td>
					<medium><strong>Fecha de termino</strong></medium>
				</td>
				<td>
					<medium><%=@contract_guard.finish_date%></medium>
				</td>
			</tr>

		</tbody>
	</table>

<!--Aqui se mostrara la factura del evento-->
<div class="accordion" id="accord">
	<p>
		<a class="btn btn-primary" data-toggle="collapse" href="#factura" role="button" aria-expanded="false" aria-controls="factura">Ver Imagen Contrato</a>
	</p>
    <div class="collapse multi-collapse" id="factura" data-parent="#accord">
      <div class="card card-body">
      <!--a href=<%= @contract_guard.contrato_doc%>&embedded=true">Visualizar Contrato PDF</a-->
        <p align="center"> <%= image_tag @contract_guard.contrato_doc.url(:thumb) %></p>
      </div>
    </div>
    
		
</div>  



	<div align="center">
          <h1></h1>
		  <h1>&nbsp </h1>
        
          <table>
          <thead>
            <tr>
              <th scope="col"><a class="btn btn-primary" href="/guards"><i class="fa fa-arrow-circle-left"></i> Volver al listado de guardias</a></th>
              <th>
			  <%=link_to '<span class="fa fa-plus-square" data-original-title="Editar">Ir a Editar Contrato</span>'.html_safe , edit_contract_guard_path(@contract_guard), class: "btn btn-success"%>
			  </th>
			  
            </tr>
          </thead>
        </table>
</div>
</div>