<!DOCTYPE html>
<html lang="es">
  <head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TransbeApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 <!--Se agrega los cdn para trabajar con bootstrap y otra depedencias-->
 <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
   <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js" integrity="sha384-lZmvU/TzxoIQIOD9yQDEpvxp6wEU32Fy0ckUgOH4EIlMOCdR823rg4+3gWRwnX1M" crossorigin="anonymous"></script>
 
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
   
   

  </head>

  <body>
 
   
<p class="notice"><%=notice %> </p>
<p class="alert"> <%=alert %> </p>


<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Hola, <strong><%= current_user.email %></strong>.
  <%= link_to 'Edita tu Perfil', edit_user_registration_path, :class => 'navbar-link' %> | 
  <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Registrarse", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Iniciar Sesión", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>
 

    
     <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="/">
        <span class="d-block d-lg-none">Transbe Guardias</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="<%= asset_path 'transbeLogo.png' %>" alt="">
   
        </span>
      </a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">

       
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">Inicio</a>
          </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/guards" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Guardias
          </a>
          <div class="dropdown">
          <a class="nav-link js-scroll-trigger" href="/guards/new">Crear Guardias</a>
          <a class="nav-link js-scroll-trigger" href="/guards">Lista de Guardias</a>
          
          </div>
        </li>
          
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/guards" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Instalaciones
          </a>
          <div class="dropdown">
          <a class="nav-link js-scroll-trigger" href="/installations/new">Crear Instalacion</a>
          <a class="nav-link js-scroll-trigger" href="/installations">Lista de Instalaciones</a>
          
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/guards" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Eventos
          </a>
          <div class="dropdown">
          <a class="nav-link js-scroll-trigger" href="/events/new">Crear Evento</a>
          <a class="nav-link js-scroll-trigger" href="/events">Lista de Eventos</a>
          
          </div>
        </li>
          
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">Ingresos</a>
          </li>
          
          
        </ul>
      </div>
    </nav>

   

    <%= yield%>

    <script>
/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */

/*Javascript para el dropdown dinamico del guardia*/
var drop = document.getElementsByClassName("nav-link dropdown-toggle");
var j;

for (j = 0; j < drop.length; j++) {
  drop[j].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}
</script>
  </body>
</html>
